/* COMMON */
body {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  display: block;
}

/* HEADER */
header {
  background-color: royalblue;
}

header .inner {
  position: relative;
  width: 1100px;
  margin: auto;
  height: 120px;
  background-color: orange;
}

header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
