/* COMMON */
body {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: royalblue;
}

header .inner {
  position: relative;
  width: 1100px;
  margin: auto;
  height: 120px;
  background-color: orange;
}

header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu {
}

header .sub-menu ul.menu {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  content: '';
  width: 1px;
  height: 12px;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
}

header .sub-menu .search input {
}

header .sub-menu .search .material-icons {
}
